@use '@/styles/breakpoint.scss' as breakpoint;

.options {
  &[data-horizontal] {
    display: flex;
    align-items: center;
    gap: 16px;

    > * {
      margin-bottom: 0;
    }
  }
}

.submitContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;

  button {
    margin-left: 8px;
  }
}
