@keyframes display {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes out {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes timeDown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 16px;
  transform-origin: top;
  scale: 0.9;
  z-index: 0;
  bottom: 10px;
  transition: all 500ms;

  &[data-active] {
    z-index: 10;
    bottom: 0;
    scale: 1;
  }
}

.inner {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 480px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--blue);
  background-color: white;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  animation: 500ms forwards;

  &[data-display='true'] {
    animation-name: display;
    animation-timing-function: cubic-bezier(0, 0.05, 0.1, 1.4);
  }
  &[data-display='false'] {
    animation-name: out;
  }
}

.title {
  margin: 0 0 8px 0;
  color: var(--gray-blue);
}

.desc {
  margin: 0;
  font-size: 0.8rem;
  color: var(--gray-dark);
}

.editButton {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 50px;
  height: 50px;
  color: #999;
}

.lineTimer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue);
  transform-origin: left;
  animation: timeDown var(--timer) linear forwards;

  &[data-play='false'] {
    animation-play-state: paused;
  }
}
