@use '@/styles/breakpoint.scss' as breakpoint;

.wide {
  display: none;
  @include breakpoint.moreThan640 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
}

.small {
  display: block;
  font-size: 0.875rem;
  @include breakpoint.moreThan640 {
    display: none;
  }
}
