.card {
  position: relative;
  padding: 16px 0;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 5px 5px 1px rgb(167 202 216 / 50%);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(255 255 255 / 70%);
    backdrop-filter: blur(3px);
  }

  h3 {
    margin: 8px 0;
    font-weight: normal;
    color: #4b5a64;
  }
}

.header {
  position: relative;
  padding: 0 16px;
  margin: 0 0 8px;
  h2 {
    margin: 0;
    font-weight: normal;
    color: #0079c2;
  }
  .desc {
    color: var(--gray-dark);
    font-size: 0.8rem;
    margin: 0;
  }
}

.container {
  position: relative;
  padding: 0 16px;
  max-height: 50vh;
  overflow-y: auto;
}
