.card {
  padding: 16px 0;
  margin-bottom: 16px;
  border: 1px dashed var(--gray-light);
  border-radius: 8px;
  background-color: var(--background);

  h3 {
    margin: 8px 0;
    font-weight: normal;
    color: #4b5a64;
  }
}

.header {
  padding: 0 16px;
  margin: 0 0 8px;
  h2 {
    margin: 0;
    font-weight: normal;
    color: #0079c2;
  }
  .desc {
    color: var(--gray-dark);
    font-size: 0.8rem;
    margin: 0;
  }
}

.container {
  padding: 0 16px;
  max-height: 50vh;
  overflow-y: auto;
}

.buttonContainer {
  width: 100%;
  padding: 16px 16px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
