@use '@/styles/breakpoint.scss' as breakpoint;

.buttonContainer {
  position: relative;
  button {
    z-index: 1;
    position: fixed;
    bottom: 16px;
    right: 16px;
  }

  @include breakpoint.moreThan480 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 16px;
    padding: 0 16px;

    button {
      position: unset;
    }
  }
}
